.home{
font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
text-align: center;
display: inline-block;
}
.about{
font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
text-align: center;
display: inline-block;
}
.skil{
font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
text-align: center;
display: inline-block;
}
.port{
font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
text-align: center;
display: inline-block;
}
.cont{
font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
text-align: center;
display: inline-block;
}
/*---------------------------------------*/
/*-----------------------------------------*/
@media only screen and (max-width: 768px) {
  header, .home, .about, .skil, .port, .cont, .vector, .language{
        display: none;
    }
    .uxui{
      display: block;
    }
    .img1{
      display: none;
    }
    .img2{
      width: 316.5px;
      height: 478px;
    }
    .group2{
      text-align: center;
    }
    .arc{
      display: block;
      text-align: center;
    }
    .ranang{
      text-align: center;
    }
    .portfolio-image{
      width: 90%;
    }
}
@media (min-width: 768px){
  header, .blok, .group2, .frame{
    text-align: center;
  }
  .home, .about, .skil, .port{
    margin-right: 140px;
  }
  .denn, .uxui{
    margin-right: 290px;
  }
  .group2{
    margin-top: 25px;
  }
  .language{
  transform: rotate(-90deg);
  display: inline-block;
  }
  .uxui{
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-align: center;
  display: inline-block;
  }
  .img1{
  width: 943.61px;
  height: 387px;
  left: 10px;
  top: 10px;
  border: 1px solid #000000;
  padding: 10px;
  }
  .img2{
    display: none;
  }
  .arc{
    display: inline-block;
    padding-top: 40px;
    width: 166.46px;
  }
  .ranang{
    text-align: center;
  }
  .rating{
  height: 206.29px;
  margin-right: 70px;
  }
  .rating2{
  height: 206.27px;
  margin-right: 35px;
  }
  .rating3{
  height: 206.27px;
  margin-left: 35px;
  }
  .rating4{
  height: 205.27px;
  margin-left: 70px;
  }
  .portfolio-image{
    width: 70%;
    margin-top: 50px;
  }
}


/*----------------------------------------*/
/*-------------------------------------------------------------*/
body{
padding-bottom: 40px;
left: 0px;
top: 0px;
}
.portfolio-text{
  padding-top: 50px;
}
.vector{
  text-align: center;
width: 70%;
margin-left: 15%;
height: 0px;
border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
margin-top: 25px;
}
/*----------------------------------------------------------------*/
.denn{
font-family: Gilroy-Bold;
font-size: 47.3392px;
line-height: 59px;
color: #070707;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: inline-block;
}


/*--------------------------------------------------------*/
.img1{
  position: static;
width: 943.61px;
height: 387px;
left: 10px;
top: 10px;
border: 1px solid #000000;
padding: 10px;
}
.portfolio-link{
  margin-top: 40px
}
/*----------------------------------------------*/
.scrin2{

height: 506px;
left: 0px;
top: 768px;
}
.rectan{
height: 100%;
left: 0px;
background: #F6F6F6;
}
.abb{
padding-top: 90px;

font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
text-align: center;
}
.marg{
  padding-top: 30px;
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
}
.abb1{

font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
}
/*----------------------------------------*/
.skills{
font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
padding-top: 50px;
}
.work{
  padding-top: 35px;
font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
}


/* --------------------------------------    */





.ps{
width: 89.07px;
height: 88.41px;
}
.ps1{
font-family: Gilroy-Bold;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #828282;
}


 /*------------------------------------------------------------*/

.rectangle2{
display: block;
padding-bottom: 50px;
text-align: center;
background: #F6F6F6;
}
.portfolio{
display: block;display: block;
left: 45.62%;
right: 45.21%;
top: 5%;

font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
}
.folio1{
display: block;
width: 936.24px;
height: 510px;
left: 257.71px;
top: 10%;
}
.link1{
display: block;
left: 40.79%;
right: 40.1%;
top: 33%;
bottom: 44.02%;

font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;

/* Black */

color: #070707;
}
.folio2{
display: block;
width: 936.24px;
height: 522px;
left: 256.89px;
top: 39%;
background: url(../image/portfolio2.png);
}
.link2{
display: block;
left: 43.36%;
right: 42.6%;
top: 63%;
bottom: 29.57%;

font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;

/* Black */

color: #070707;
}
.folio3{
display: block;
width: 936.24px;
height: 522px;
left: 252.7px;
top: 69%;
background: url(../image/portfolio3.png);
}
.link3{
display: block;
left: 41.42%;
right: 40.65%;
top: 93%;
bottom: 15.09%;

font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;

/* Black */

color: #070707;
}

/*----------------------------------------------------------------*/

.foot1{
font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
}
.foot2{
font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
}
.foot3{
font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
background: #070707;
border-radius: 25px;
margin-top: 20px;
margin-bottom: 20px;
}
.footer{
  text-align: center;
}
.link_mes1{
padding-left: 25px;
padding-right: 25px;
padding-top: 35px;
}
.footer-position{
  display: block;
  text-align: center;
  padding-top: 25px;
}
.foot4{
font-family: Gilroy-Medium;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #828282;
}
