body{
padding-bottom: 40px;
left: 0px;
top: 0px;
}
/*-------------header style-----------------*/
.home{
line-height: 22px;
text-align: center;
display: inline-block;
}
.vector{
  text-align: center;
width: 70%;
margin-left: 15%;
height: 0px;
border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
margin-top: 25px;
}
/*-------------main style---------------------*/
.denn{
font-family: Gilroy-Bold;
font-size: 47.3392px;
line-height: 59px;
color: #070707;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: inline-block;
}
.img1{
  position: static;
width: 943.61px;
height: 387px;
left: 10px;
top: 10px;
border: 1px solid #000000;
padding: 10px;
}
.scrin2{
height: 506px;
left: 0px;
top: 768px;
}
.rectan{
height: 100%;
left: 0px;
background: #F6F6F6;
}
.abb{
padding-top: 90px;
line-height: 42px;
text-align: center;
}
.marg{
  padding-top: 30px;
  text-align: center;
}
.abb1{
line-height: 22px;
text-align: center;
}
.skills{
line-height: 42px;
text-align: center;
color: #070707;
padding-top: 50px;
}
.work{
  padding-top: 35px;
line-height: 22px;
text-align: center;
color: #070707;
}
.ps{
width: 89.07px;
height: 88.41px;
}
.ps1{
font-family: Gilroy-Bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #828282;
}
.rectangle2{
display: block;
padding-bottom: 50px;
text-align: center;
background: #F6F6F6;
}
.portfolio-text{
  padding-top: 50px;
}
.portfolio-link{
  margin-top: 40px
/*--------------footer style------------------*/
}

.foot3{
line-height: 22px;
text-align: center;
color: #FFFFFF;
background: #070707;
border-radius: 25px;
margin-top: 20px;
margin-bottom: 20px;
}
.footer{
  text-align: center;
}
.footer-position{
  display: block;
  text-align: center;
  padding-top: 25px;
}
.link_mes1{
padding-left: 25px;
padding-right: 25px;
padding-top: 35px;
}
.foot4{
font-family: Gilroy-Medium;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #828282;
}
/*-------------font style--------------------*/
.font-style{
  font-family: Gilroy-Bold;
  font-size: 18px;
}
.font-main{
  font-family: Gilroy-Bold;
  font-size: 34px;
}
